* { margin:1em 0; padding:0; }
body {
    width:820px;
    margin:0 auto; padding:40px 0;
    font-family:"Helvetica Neue", Arial, sans-serif;
}
p, li {
    font-size:14px; line-height:18px;
}
h1, h2, h3, h4, h5 {
    color:#808080;
}
h1 {
    font-size:140%;
}
h2 {
    font-size:120%;
}
h3, h4, h5 {
    font-size:120%;
}
article {
    padding-right:220px;
}
article pre {
    overflow:auto;
}
ul {
    padding:0 0 0 1em;
}
a, a:visited {
    color:#006080;
}
a:hover {
    color:#0086B3;
}
blockquote {
    margin:0; padding:0 12px;
}
blockquote p {
    font-style:italic;
}