<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>dan, of ames{% if page.title %}:{% endif %} {{ page.title }}</title>
        <link rel="stylesheet" href="/css/base.css" type="text/css" />
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    </head>
    <body>
        {{ content }}
        <!-- <footer>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="archives.html">Archives</a></li>
                </ul>
            </nav>
        </footer>-->
    </body>
</html
